<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>AirFind Airport Directory</title>
    <link rel="stylesheet" href="/css/cyborg/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body ng-controller="AppController">
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">AirFind</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

        <div class="row">
            <h4>Search by State</h4>
            <form>
                <div class="col-md-6">
                    <select ng-model="stateCode" class="form-control">
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary" ng-click="findAirports()">Find</button>
                </div>
            </form>
        </div>
        <br>
        <div class="row">
            <h4>Search by Distance</h4>
            <form>
                <div class="col-md-6">
                    <input type="text" ng-model="location.address" class="form-control" placeholder="Enter address">
                </div>
                <div class="col-md-4">
                    <input type="text" ng-model="location.distance" class="form-control" placeholder="Enter kilometers">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" ng-click="findAirportsByProx()">Find</button>
                </div>
            </form>
        </div>
        <br>
        <div class="row" ng-init="getAirports()">
            <div class="col-md-12">
                <div class="well" ng-repeat="airport in airports">
                    <h4>{{airport.name}}</h4>
                    <ul>
                        <li><strong>Type:</strong> {{airport.type}}</li>
                        <li><strong>Code:</strong> {{airport.code}}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-reverse-geocode/dist/angular-reverse-geocode.min.js"></script>
    <script src="/controllers/AppController.js"></script>
  </body>
</html>