<div ng-init="getCustomer()">
  <img class="pull-right img-small" src="{{customer.logo_url}}">
  <div class="clearfix"></div>
  <h2 class="sub-header">{{customer.first_name}} {{customer.last_name}}</h2>
  <ul class="list-group">
    <li class="list-group-item"><strong>Company:</strong> {{customer.company}}</li>
    <li class="list-group-item"><strong>Email:</strong> {{customer.email}}</li>
    <li class="list-group-item"><strong>Phone:</strong> {{customer.phone}}</li>
    <li class="list-group-item"><strong>Street:</strong> {{customer.address.street}}</li>
    <li class="list-group-item"><strong>City:</strong> {{customer.address.city}}</li>
    <li class="list-group-item"><strong>State:</strong> {{customer.address.state}}</li>
    <li class="list-group-item"><strong>Zip Code:</strong> {{customer.address.zip}}</li>
  </ul>
  <br>
  <h3>Customer Invoices</h3>
  <table class="table table-striped" ng-init="getCustomerInvoices()">
    <thead>
      <tr>
        <th>#</th>
        <th>Service</th>
        <th>Price</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="invoice in customer_invoices">
        <td>{{invoice._id}}</td>
        <td>{{invoice.service}}</td>
        <td>{{invoice.price}}</td>
        <td>{{invoice.status}}</td>
        <td><a href="#/invoices/details/{{invoice._id}}" class="btn btn-primary">Details</a> <a href="#/invoices/edit/{{invoice._id}}" class="btn btn-default">Edit</a> <button id="deleteInvoice" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>