<h2 class="sub-header">Edit Customer</h2>
<form ng-submit="updateCustomer()" ng-init="getCustomer()">
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" name="first_name" ng-model="customer.first_name" placeholder="First Name">
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" name="last_name" ng-model="customer.last_name" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label>Company</label>
    <input type="text" class="form-control" name="company" ng-model="customer.company" placeholder="Company">
  </div>
  <div class="form-group">
    <label>Logo URL</label>
    <input type="text" class="form-control" name="logo_url" ng-model="customer.logo_url" placeholder="Logo URL">
  </div>
  <div class="form-group">
    <label>E-mail</label>
    <input type="text" class="form-control" name="email" ng-model="customer.email" placeholder="Email">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" class="form-control" name="phone" ng-model="customer.phone" placeholder="Phone">
  </div>
  <div class="form-group">
    <label>Street Address</label>
    <input type="text" class="form-control" name="address" ng-model="customer.address.street" placeholder="Street Address">
  </div>
  <div class="form-group">
    <label>City</label>
    <input type="text" class="form-control" name="city" ng-model="customer.address.city" placeholder="City">
  </div>
  <div class="form-group">
    <label>State</label>
    <input type="text" class="form-control" name="state" ng-model="customer.address.state" placeholder="State">
  </div>
  <div class="form-group">
    <label>Zip Code</label>
    <input type="text" class="form-control" name="zip" ng-model="customer.address.zip" placeholder="Zip Code">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>