extends layout

block content
  each article, i in articles
    .result
      a(href=article.url)
        h4= article.title
        p.url= article.url
      p.author
        span.category= article.category
        |  | #{article.author}
      p.description= article.description