doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .row
      .large-12.columns
        h1.text-center SiteSearch
    .row
      .large-12.columns
        .panel
          form(method='post', action='/')
            .row
              .text-center
                input(type='radio', name='searchType', value='website', checked='')
                |  Website 
                input(type='radio', name='searchType', value='news')
                |  News
              .large-10.columns
                input(type='text', placeholder='Search...', name='searchText')
              .large-2.columns
                input.button.tiny(type='submit', value='GO')
    block content
    br
    hr
    br
    footer
      a(href='/websites/add') Add Website | 
      a(href='/articles/add') Add Article