<section>
  <div class="page-header">
    <h1>Libraries</h1>
  </div>
  <form class="form-inline">
    <div class="form-group">
	  Search:
	  <input type="text" class="form-control" ng-model="searchText" placeholder="Filter Libraries...">
	</div>
	<div class="form-group">
	  Filter By Type:
	  <select class="form-control" ng-model="filterItem.type" ng-options="item.name for item in filterOptions.types"></select>
	</div>
  </form>
  <br>
  <div class="list-group">
    <div ng-repeat="cdn in vm.cdns | filter:searchText | filter:customFilter" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="cdn.created | date:'mediumDate'"></span>
        by
        <span ng-if="cdn.user" ng-bind="cdn.user.displayName"></span>
        <span ng-if="!cdn.user">Deleted User</span>
      </small>
      <a ui-sref="cdns.view({ cdnId: cdn._id })"><h4 class="list-group-item-heading" ng-bind="cdn.name" style="padding-top: 10px"></h4></a>
      <p class="list-group-item-text" ng-bind="cdn.description" style="padding-bottom: 10px"></p>
	  <input type="text" class="form-control" value="{{cdn.url}}" readonly>
    </div>
  </div>
</section>
