<section>
  <div class="page-header">
    <h1 ng-bind="vm.cdn.name"></h1>
  </div>
  <div class="row">
    <div class="col-md-2">
	  <label class="control-label">URL</label>
	</div>
    <div class="col-md-10">
	  <a ng-href="{{vm.cdn.url}}"><span ng-bind="vm.cdn.url"></span></a>
	</div>
  </div>
  <div class="row">
    <div class="col-md-2">
	  <label class="control-label">Description</label>
	</div>
    <div class="col-md-10">
	  <span ng-bind="vm.cdn.description"></span>
	</div>
  </div>
  <div class="row">
    <div class="col-md-2">
	  <label class="control-label">Version</label>
	</div>
    <div class="col-md-10">
	  <span ng-bind="vm.cdn.version"></span>
	</div>
  </div>
  <div class="row">
    <div class="col-md-2">
	  <label class="control-label">Type</label>
	</div>
    <div class="col-md-10">
	  <span ng-bind="vm.cdn.type"></span>
	</div>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.cdn.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.cdn.user" ng-bind="vm.cdn.user.displayName"></span>
      <span ng-if="!vm.cdn.user">Deleted User</span>
    </em>
  </small>
</section>
