<section>
  <div class="page-header">
    <h1>{{vm.cdn._id ? 'Edit Library' : 'New Library'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.cdn._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.cdnForm" class="form-horizontal" ng-submit="vm.save(vm.form.cdnForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.cdn.name" id="name" class="form-control" placeholder="Name" required autofocus>
          <div ng-messages="vm.form.cdnForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Library name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="url">URL</label>
          <input name="url" type="text" ng-model="vm.cdn.url" id="url" class="form-control" placeholder="URL" required>
          <div ng-messages="vm.form.cdnForm.url.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Library URL is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <textarea name="description" data-ng-model="vm.cdn.description" id="description" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="version">Version</label>
          <input name="version" type="text" ng-model="vm.cdn.version" id="version" class="form-control" placeholder="Version">
        </div>
        <div class="form-group">
          <label class="control-label" for="type">Type</label>
          <input name="type" type="text" ng-model="vm.cdn.type" id="type" class="form-control" placeholder="Type">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.cdn._id ? 'Update' : 'Create'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
