﻿<section>
  <div class="page-header">
    <h1>
      Libraries
      <a class="btn btn-primary pull-right" data-ui-sref="admin.cdns.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <form class="form-inline">
    <div class="form-group">
	  Search:
	  <input type="text" class="form-control" ng-model="searchText" placeholder="Filter Libraries...">
	</div>
	<div class="form-group">
	  Filter By Type:
	  <select class="form-control" ng-model="filterItem.type" ng-options="item.name for item in filterOptions.types"></select>
	</div>
  </form>
  <br>
  <div class="list-group">
    <div data-ng-repeat="cdn in vm.cdns | filter:searchText | filter:customFilter" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="cdn.created | date:'mediumDate'"></span>
        by
        <span ng-if="cdn.user" ng-bind="cdn.user.displayName"></span>
        <span ng-if="!cdn.user">Deleted User</span>
      </small>
      <a data-ui-sref="admin.cdns.edit({cdnId: cdn._id})"><h4 class="list-group-item-heading" data-ng-bind="cdn.name" style="padding-top: 10px"></h4></a>
      <p class="list-group-item-text" data-ng-bind="cdn.description" style="padding-bottom: 10px"></p>
	  <input type="text" class="form-control" value="{{cdn.url}}" readonly>
    </div>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="!vm.cdns.length">
    No libaries yet, why don't you <a data-ui-sref="admin.cdns.create">add one</a>?
  </div>
</section>
