<body>
  {{renderPage}}
</body>

<template name="layout">
  {{> navbar}}
  <!-- Page Content -->
  <div class="container">

      <div class="row">
        {{> yield}}
      </div>

      <hr>

      <!-- Footer -->
      <footer>
          <div class="row">
              <div class="col-lg-12">
                  <p>Copyright &copy; Photoz <span id="copyright_year">2016</span></p>
              </div>
          </div>
      </footer>

  </div>
</template>
