<template name="photos">
  <div class="col-lg-12">
      <h1 class="page-header">Thumbnail Gallery</h1>
  </div>
  {{#each photos}}
  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="/photos/{{_id}}">
          <img class="img-responsive" src="{{this.url}}" alt="">
      </a>
  </div>
  {{/each}}
</template>
