body {
    background: #f9f9f9;
    padding: 50px;
}

.result {
    border-bottom: #ccc 1px dotted;
    padding-top: 15px;
    padding-bottom: 15px;
}

.result:last-child {
    border: 0;
}

h4 {
    color: #008cba;
    margin: 0;
}

p.url {
    margin: 0;
    padding: 0;
    color: green;
}

span.category {
    font-style: normal;
    font-weight: bold;
}

p.author {
    font-style: italic;
}

p.description {
    color: #666;
    margin: 0;
}