/*!
 * Start Bootstrap - Thumbnail Gallery (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.thumb {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.main-img {
  max-width: 600px;
  margin: auto;
  display: block;
  border: 1px #ccc solid;
  padding: 4px;
}
